@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left: 590px;
    top: 489px;
    width: 270px;
}

video#filme {
    display: block;
    position: relative;
    left: 79px;
    top: 65px;
    width: 455px;
}



